.tile-download {
  p.info {
    margin: 0 0 10px 0;
    @include font-size($xs-font);
    label {
      font-weight: bold;
    }
  }
  .tl-content {
    margin-bottom: 50px; 
    
    h4 {
      font-weight: bold;
      margin-bottom: 14px;
      @include font-size($md-font);
    }
  }
  .tl-footer {
    padding: 0 5px;
    @include md {
      display: flex;
      justify-content: space-between;
    }
    p.info {
      @include md {
        margin: 0;
      }
      label,
      span {
        @include md {
          line-height: 35px;
        }
      }
    }
  }
}
