.tile-key-facts{
    .tl-content{
        h3{
            @include font-size($lg-font);
            color: $text;
            font-weight: bold;
            border-bottom: 1px solid lighten($color: $light-grey, $amount: 10%);
            padding-bottom: 20px;
        }
        table{
            tbody{
                tr{
                    border-bottom: 1px solid lighten($color: $light-grey, $amount: 10%);
                    &:nth-of-type(odd){
                        background: unset;
                        border-top: unset;
                        border-bottom: 1px solid lighten($color: $light-grey, $amount: 10%);
                    }
                    &:nth-of-type(even){
                        background: $grey-bg;
                    }
                    td{
                        @include font-size($sm-font);
                        color: $text;
                        padding: 8px 12px;
                        &:first-of-type{
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}