.event-indicator {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  background: $brand;
  &.event-brand {
    background: $brand;
  }
  &.event-primary {
    background: $primary;
  }
  &.event-secondary {
    background: $secondary;
  }
  &.event-third {
    background: $third;
  }
  @include md {
    width: 12px;
    height: 12px;
  }
}
.event-brand {
  color: $brand;
}

.event-primary {
  color: $primary;
}
.event-secondary {
  color: $secondary;
}
.event-third {
  color: $third;
}
