@import "../../base/_index";


.widget-right-sidebar{
    @media screen and (max-width: 480px) {
        display: grid;
        order: 2;
        
    }
    @media screen and (max-width:  960px) {
        display: grid;
        order: 2;
    }
.people-right-sidebar{
    padding: 0px;
    margin-top: 24px;
    @media screen and (max-width:  480px) {
        display:none  ;
       
    }
    .title{
        border-bottom: solid 0.1px #efefef;;;
        height: 60px;
        padding: 3px 24px;
        background-color: #f7f9ff;

        h3{
           font-weight: bold;
           margin-top: 13px;
       }
       a{
        margin-bottom: 0px;
        margin-top: 18px;
           h5{
            color: #bd3632;
           }
       }
       
   }
   span{
       width: 100%;
       height: .1px;
       background-color: #444e58;
       float: left;
       margin-bottom: 15px;
   }
   .right-side-people{
    box-shadow: 0 2px 20px 0 rgba(206, 211, 219, 0.47);
  background-color: #f7f9ff;
          padding: 0px;
          box-shadow: none;
       .people-content{
        height: 66px;
        float: left;
        padding: 0px 24px;
        width: 88%;
   
}
        a{  
            float: left;
            .uk-cover-container{
                width: 56px;
                height: 56px;
                overflow: hidden;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                box-shadow: 0 6px 9px rgba(0,0,0,.16);
            }
             

        }
        .people-details{
            .profile{
              
                h5{
                    margin-top: 15px;
                     margin-left: 10px;
                     @include font-size($sm-font);
                     font-weight: 600;
                     font-style: normal;
                     font-stretch: normal;
                      letter-spacing: 0.4px;
                     color: #444e58;
                     

                    
                }
            }
            .follow{
                float: right;
                margin-top: 10px;
                font-weight: bold;
                color: #bd3632;
                text-decoration: underline;
            }
        }
       }
   }
   
}
 